.task-card {
  height: 100%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.task-icon {
  position: absolute;
  right: 10px;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-header img {
  height: 0.22rem;
}
.task-info {
  width: 100%;
  background-color: var(--dark-blue);
  position: absolute;
  top: 20%;
  bottom: 0;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.task-title {
  font-size: 1rem;
  font-weight: 500;
}
.time {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-around;
  font-size: 3rem;
}
.previous-time {
  display: block;
  font-size: .8rem;
  color: var(--desaturated-blue);
}